# mandatory environment variables
INFERENCE_MODEL_ID= "ibm-granite/granite-3.2-8b-instruct"

# mandatory unless a local deployment is used
REMOTE_BASE_URL= "http://localhost:8321"

# optional environment variables for all demos
TEMPERATURE="0.0"
TOP_P="0.95"
MAX_TOKENS="4096"
STREAM="False"

# for the RAG demos only - mandatory
VDB_PROVIDER="milvus"
VDB_EMBEDDING="all-MiniLM-L6-v2"

# for the RAG demos only - optional
VDB_EMBEDDING_DIMENSION="384"
VECTOR_DB_CHUNK_SIZE="512"

# for the agentic/tool demos
TAVILY_SEARCH_API_KEY= ""
USE_PROMPT_CHAINING= "True"

# MCP-related
REMOTE_OCP_MCP_URL= ""
REMOTE_SLACK_MCP_URL= ""
